{% extends "main.html" %} {% block title %} Add item {% endblock %}

{% block content %}
    <button class="btn btn-primary bg-dark">
        <a class="nav-item nav-link" id="BackToCatOverview" href="/{{ store.id }}/category-overview/{{ category.id }}">Back</a>
    </button>
    <form method="POST">
        <h3 align="center">Add new item</h3>
        <div class="form-group">

            <label for="producer">Item producer</label>
            <input type="text" class="form-control" id="producer" name="producer" placeholder="ex. Apple">

        </div>

        <div class="form-group">

            <label for="model">Item model</label>
            <input type="text" class="form-control" id="model" name="model" placeholder="ex. Iphone 12">

        </div>

        <div class="form-group">

            <label for="description">Item description</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="ex. Bought it a year ago. Currently in good condition">

        </div>

        <div class="form-group">

            <label for="price">Item Price</label>
            <input type="text" class="form-control" id="price" name="price" placeholder="ex. 999">

        </div>

        <div class="form-group">

            <label for="duration">Auction Duration</label>
            <input type="text" class="form-control" id="duration" name="duration" placeholder="ex. 3hrs">

        </div>

        <div class="form-group">

            <label for="type">Sale type</label>
            <input type="text" class="form-control" id="type" name="type" placeholder="MUST BE either: A-auction, S-sale or D-display">

        </div>

        <div class="form-group">

            <label for="picture_url">Item Url</label>
            <input type="text" class="form-control" id="picture_url" name="picture_url" placeholder="ex. https://">

        </div>
    <br />
    <button type="submit" class="btn btn-primary bg-dark">
        Submit
    </button>
    </form>
{% endblock %}