{% extends "main.html" %} {% block title %} Add category {% endblock %}

{% block content %}
    <form method="POST">
        <h3 align="center">Add new store</h3>
        <div class="form-group">

            <label for="name">Store name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="">

        </div>

        <div class="form-group">

            <label for="description">Store description</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="ex. A market place to buy and sell cars">

        </div>

        <div class="form-group">

            <label for="picture_url">Store picture url</label>
            <input type="text" class="form-control" id="picture_url" name="picture_url" placeholder="ex. https://...">

        </div>
    <br />
    <button type="submit" class="btn btn-primary bg-dark">
        Submit
    </button>
    </form>
{% endblock %}