{% extends "main.html" %} {% block title %} Add category {% endblock %}
{% block content %}
    <button class="btn btn-primary bg-dark">
        <a class="nav-item nav-link" id="BackToCatOverview" href="/store-overview/{{ storeId }}">Back</a>
    </button>
    <button class="btn btn-primary bg-dark">
        <a class="nav-item nav-link" id="addItem" href="/{{ storeId }}/category-overview/{{ catId }}/addItem">List new Item for Auction</a>
    </button>
    <div class="card-deck">
        {% for item in items %}
          <div class="card">
            <img class="card-img-top" src="{{ item.picture_url }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Producer: {{ item.producer }}</h5>
              <p class="card-text">Model: {{ item.model }}</p>
              <p class="card-text">Description: {{ item.description }}</p>
              <p class="card-text">Price: {{ item.price }}kr</p>
            </div>
              <button type="button" class="btn btn-primary bg-dark" onClick="showDetails{{ item.id }}">
                <a class="nav-item nav-link" id="showItem" href="/{{ storeId }}/category-overview/{{ item.category_id }}/item/{{ item.id }}">Show Item</a>
            </button>
              <div class="card-footer">
                  <small class="text-muted">Time left: {{ item.duration }}</small>
            </div>
            <div class="card-footer">
              <small class="text-muted">Created: {{ item.start_time }}</small>
            </div>
          </div>
            </br>
        {% endfor %}
    </div>
{%  endblock %}