{% extends "main.html" %} {% block title %} Add category {% endblock %}
{% block content %}
    <h1><a href="/{{ store.id }}/category-overview/{{ category.id }}">{{ category.name }}</a> / {{ item.model }}</h1>
    </br>
    </br>
    </br>
    </br>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{{ item.picture_url }}" alt="Card image cap">
    <div class="card-body">
        {% if item.type == "A" %}
        <h3>This Item is for Auction</h3>
          <h5 class="card-title">Producer: {{ item.producer }}</h5>
          <p class="card-text">Model: {{ item.model }}</p>
          <p class="card-text">Description: {{ item.description }}</p>
          <p class="card-text">Last bid: {{ item.price }}kr</p>
{#            {% if  user.name == "ADMIN" or user.name == store.name or user.name == "USER" %}#}
            <form method="POST">
                <div class="form-group">
                    <label for="price">New bid</label>
                    <input type="number" step="1" class="form-control" id="price" name="price" placeholder="ex. Old bid + 50">
                </div>
                <button type="submit" class="btn btn-primary bg-dark">
                    Submit Bid
                </button>
{#                    {% endif %}#}
            </form>

            {% elif item.type == "D" %}
                <h3>This Item is for Display</h3>
          <h5 class="card-title">Producer: {{ item.producer }}</h5>
          <p class="card-text">Model: {{ item.model }}</p>
          <p class="card-text">Description: {{ item.description }}</p>

        {% elif item.type == "S" %}
        <button type="button" class="close" onclick="deleteItem{{ item.id }}"></button> <!-- Legge til JS for delete -->
            <h3>This Item is for Sale</h3>
          <h5 class="card-title">Producer: {{ item.producer }}</h5>
          <p class="card-text">Model: {{ item.model }}</p>
          <p class="card-text">Description: {{ item.description }}</p>
          <p class="card-text">Price: {{ item.price }}kr</p>
            <form method="POST">
{#                {% if  user.name == "ADMIN" or user.name == store.name or user.name == "USER" %}#}
                    <button type="submit" class="btn btn-primary bg-dark">
                        Add to cart
                    </button>
{#                {% endif %}#}
            </form>
        {% endif %}
    </div>
  </div>
</div>
{%  endblock %}