{% extends "main.html" %} {% block title %} Homepage {% endblock %}

{% block content %}
    <h1>{{ store.name }}</h1>
    <p>{{ store.description }}</p>
    <button class="btn btn-primary bg-dark">
        <a class="nav-item nav-link" id="BackToCatOverview" href="/">Back</a>
    </button>
    {% if user.name == store.name or user.name == "ADMIN" %}
    <button class="btn btn-primary bg-dark">
        <a class="nav-item nav-link" id="addCategory" href="/store-overview/{{ store.id }}/addCategory">Add new category</a>
    </button>
        {% endif %}
      <div class="container">
  <h1>Categories</h1>
  </div>

    <div class="row">
        {% for category in categories %}
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ category.name }}</h5>
                <p class="card-text">{{ category.description }}</p>
                <a href="/{{ store.id }}/category-overview/{{ category.id }}" class="btn btn-primary">Visit {{ category.name }}</a>
              </div>
            </div>
              </br>
          </div>
        {% endfor %}
  </div>
{% endblock %}